.logoUNIR {
    height: 100px;
}

.bigDataImg {
    height: 150px;
    width: 150px;
}

.imgProy {
    height: 100px;
    object-fit: cover;
}

.vizprev {
    background-color: #eaeae1;
    border: 1px solid lightslategray;
}

.ejes {
    font-family: 'Arial';
    font-size: 12px;
}

.tituloGrafica {
    font-family: 'Helvetica';
    font-size: 18px;
}

.leyendas {
    font-family: 'Arial';
    font-size: 30px;
}