.logoUNIR {
    height: 100px;
}

.bigDataImg {
    height: 150px;
    width: 150px;
}

.imgProy {
    height: 100px;
    object-fit: cover;
}

.subTitHome {
    font-family: 'Helvetica';
    font-size: 16px;
    color: #004080
}

.txtHome {
    font-family: 'Helvetica';
    font-size: 14px;
    color: #001a33
}

.subTitGM {
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: bold;
    color: #669999
}

.txtGM {
    font-family: 'Helvetica';
    font-size: 15px;
    color: #2e2e1f
}

.vizprev {
    background-color: white;
    border: 1px solid lightslategray;    
}

.description {
    background-color: white;
}

.ejes {
    font-family: 'Arial';
    font-size: 12px;
}

.tituloGrafica {
    font-family: 'Helvetica';
    font-size: 18px;
}

.ejes line {
    stroke: #ebebe0;
    stroke-width: 1px;
  }

 .slider {
    width: 100%;
    vertical-align: middle;
}
  