.logoUNIR {
    height: 100px;
}

.bigDataImg {
    height: 150px;
    width: 150px;
}

.imgProy {
    height: 100px;
    object-fit: cover;
}

.subTitHome {
    font-family: 'Helvetica';
    font-size: 16px;
    color: #004080
}

.txtHome {
    font-family: 'Helvetica';
    font-size: 14px;
    color: #001a33;
    text-align:justify;
}

.subTitGM {
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: bold;
    color: #669999
}

.txtGM {
    font-family: 'Helvetica';
    font-size: 15px;
    color: #2e2e1f;
    text-align:justify ;
}

.vizprev {
    background-color: white;
    border: none;    
    /*border: 1px solid lightslategray;    */
}

.description {
    background-color: white;
}

.ejes {
    font-family: 'Arial';
    font-size: 12px;
}

.tituloGrafica {
    font-family: 'Helvetica';
    font-size: 18px;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
}

.ejes line {
    stroke: #ebebe0;
    stroke-width: 1px;
  }

 .slider {
    width: 100%;
    vertical-align: middle;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.hover-line {
    stroke: #6F257F;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

.hide-scroll {
    overflow: hidden inherit;
    
}

::-webkit-scrollbar { 
    display: none; 
}